:root {
    font-size: 62.5%;
  }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff"), url("../fonts/Lato-Regular.woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Semibold.woff"), url("../fonts/Lato-Semibold.woff2");
    font-style: 500;
    font-weight: 500;
  }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff"), url("../fonts/Lato-Bold.woff2");
    font-style: bold;
    font-weight: bold;
  }
  @font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff"), url("../fonts/Rubik-Regular.woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/Rubik-Bold.woff"), url("../fonts/Rubik-Bold.woff2");
    font-style: bold;
    font-weight: bold;
  }
