.filter{
    width: 14%;
    @include font-desc(1.6rem, 1.9rem);
    min-width: 210px;
    margin-right: 20px;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;    
    background: url(../img/arrow.svg) no-repeat;
    width: 9px;
    height: 8px;
    left: -25px;
    top: 4px;
    background-position: 0px 0px;    
}
.filter__btn{
    width: 185px;
    height: 42px;
    background: #FAC663;
    border: 2px solid #FAC663;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: -8px;
}
.filter__btn:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.filter__btn--white{
    margin-top: 11px;
    background: #FFFFFF;  
    margin-bottom: 0px;  
}
.filter__btn:active{
    background-color: #ff7236;
    border-color: #ff7236;
}
.filter__btn--white:active{
    background-color: #FFFFFF;
    border-color: #ff7236;
}
.filter .rub{
    @include font-title(1.6rem,1.9rem);
    font-weight: 400;
}
@media(max-width: 800px) {
    .filter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 0px;
    }  
    .filter__btn{
        width: 45%;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .filter__btn--white{
        margin-top: 0px;
        align-items: flex-end;
    }
}
@media(max-width: 599px) {
    .filter{        
              
    }
}
@media(max-width: 360px) {
    .filter__btn{
        width: 100%;
    }
    .filter__btn--white{
        margin-top: 0px;
    }
}